[submodule "ego-flow-app"]
	path = ego-flow-app
	url = https://github.com/ego-flow/ego-flow-app.git
[submodule "ego-flow-server"]
	path = ego-flow-server
	url = https://github.com/ego-flow/ego-flow-server.git
